<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin">
  <h1 class="title">Whoops, our bad...</h1>
  <h6>The page you requested was not found, and we have a fine guess why.</h6>
  <ul>
  <li>If you typed the URL directly, please make sure the spelling is correct.</li>
  <li>If you clicked on a link to get here, the link is outdated.</li>
  </ul>
  <h6 class="mt-5">What can you do? </h6>
  <p>Have no fear, help is near! There are many ways you can get back on track with Magento Store.</p>
  <ul>
  <li><a href="/">Go back</a> to the previous page.</li>
  <li>Use the search bar at the top of the page to search for your products.</li>
  <li>Follow these links to get you back on track!<br><a href="/">Store Home</a> <span class="separator">|</span> <a href="/account/">My Account</a></li>
  </ul>
</div>


